/src/TestService/IRepository/bin
/src/TestService/IRepository/obj
/src/TestService/Common/bin
/src/TestService/Common/obj
/src/TestService/.vs
/src/TestService/GateWayService/bin
/src/TestService/GateWayService/obj
/src/TestService/Services/bin
/src/TestService/Services/obj
/src/TestService/IServices/bin
/src/TestService/IServices/obj
/src/TestService/IRepository/bin
/src/TestService/IRepository/obj
/src/TestService/Repository/bin
/src/TestService/Repository/obj
/src/TestService/GateWayService/obj
/src/TestService/GateWayService/bin
/src/TestService/TestService/bin
/src/TestService/TestService/obj