/src/TestService/.vs
/src/TestService/Common/obj
/src/TestService/Common/bin
/src/TestService/IRepository/obj
/src/TestService/IRepository/bin
/src/TestService/IServices/obj
/src/TestService/IServices/bin
/src/TestService/Repository/obj
/src/TestService/Repository/bin
/src/TestService/Services/obj
/src/TestService/Services/bin
/src/TestService/TestService/obj
/src/TestService/TestService/bin
/src/TestService/TestService/TestService.csproj.user
/src/TestService/GateWayService/bin

